<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/Users/m.aishwaryarajlaxmi/IdeaProjects/FrameworkDesign"><classes><class name="VoltMoney.featureflow.ErrorValidation"><methods><include name="errorValidation"/></methods></class><class name="VoltMoney.featureflow.LoginToCheckout"><methods><include name="checkoutFunctionality"/></methods></class><class name="VoltMoney.featureflow.RemoveProduct"><methods><include name="removeProdListingPage"/><include name="removeProdFrmProdPage"/><include name="removeProdFromCart"/></methods></class></classes></test></suite>